appnope==0.1.3
asttokens==2.2.1
autopep8==2.0.1
backcall==0.2.0
bibclean==0.5.0
bibtexparser==1.4.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.38.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipython==8.10.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonpickle==3.0.1
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
networkx==3.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
Pygments==2.14.0
pylatexenc==2.10
pyparsing==3.0.9
PyPDF2==3.0.1
python-dateutil==2.8.2
pytz==2022.7.1
pyvis==0.3.2
seaborn==0.12.2
six==1.16.0
stack-data==0.6.2
toml==0.10.2
tomli==2.0.1
traitlets==5.9.0
typing_extensions==4.5.0
wcwidth==0.2.6
Werkzeug==2.2.3
xmltodict==0.13.0
zipp==3.14.0
